<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/main.css" />
        <script src="/public/js/bootstrap.min.js"></script>
    </head>
    <body>
        <%- include('shared/menu') %>
        <div class="container">
          <div class="col-md-12">
            <div class="col-md-6">
              <a href="/stats" class="btn btn-info">
                <span class="glyphicon glyphicon-list"></span> Accès à la page des stats
              </a>
              <a class="btn btn-primary" href="/add">
                <span class="glyphicon glyphicon-plus"></span> Ajouter une personne
              </a>
              <a class="btn btn-success" href="/loadData">
                <span class="glyphicon glyphicon-open-file"></span>
              </a>
              <a class="btn btn-danger" href="/delete">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>

            <div class="col-md-6 pull-right">
              <ul class="pagination pull-right">
                <li class="page-item"><a class="page-link" href="/page/<%= current-1 %>">Previous</a></li>
                  <% for(var i=1; i<current+5; i++) {%>
                    <% if(i<=current && i>current-5) { %>
                    <li <% if(current==i){ %> class="active" <% } %>><a href="/page/<%= i %>"> <%= i %> </a></li>
                    <% } %>
                    <% if(i>current && i<current+5 && i<=pages+1) { %>
                    <li <% if(current==i){ %> class="active" <% } %>><a href="/page/<%= i %>"> <%= i %> </a></li>
                    <% } %>
                  <% } %>
                <% if(current>=pages){ %>
                  <li class="page-item"><a class="page-link" href="/page/<%= current %>">Last</a></li>
                <% }else { %>
                  <li class="page-item"><a class="page-link" href="/page/<%= current+1 %>">Next</a></li>
                <% } %>

              </ul>
            </div>
          </div>
            <h1>Liste des personnes </h1>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Age</th>
                  <th>Gender</th>
                  <th>departement</th>
                  <th>email</th>
                  <th>company</th>
                  <th>city</th>
                  <th>country</th>
                </tr>
              </thead>
              <tbody>
              <% persons.forEach(function(p,i) {  %>
                <tr>
                  <td><%= p.firstname %></td>
                  <td><%= p.lastname %></td>
                  <td><%= p.age %></td>
                  <td><%= p.gender %></td>
                  <td><%= p.departement %></td>
                  <td><%= p.email %></td>
                  <td><%= p.company %></td>
                  <td><%= p.city %></td>
                  <td><%= p.country %></td>
                </tr>
              <% }); %>
              </tbody>
            </table>
        </div>
    </body>
</html>
