<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/main.css" />
        <script src="/public/js/bootstrap.min.js"></script>
    </head>
    <body>
        <%- include('shared/menu') %>
        <div class="container">
          <a class="btn btn-danger pull-right" href="/">Retour</a>
          <h3>Hommes entre 20 et 40 ans travaillant chez Quamba ou Zoomcast</h3>
          <% p1.forEach(function(p) { %>
              <li><%= p.firstname + ' ' + p.lastname %></li>
          <% }); %>
          <h3>La femme la plus agée travaillant chez Meevee</h3>
          <% p2.forEach(function(p) { %>
              <li><%= p.firstname + ' ' + p.lastname %></li>
          <% }); %>
          <h3>Le prénom des gens ayant une adresse IP en X.129.X.X</h3>
          <% p3.forEach(function(p) { %>
              <li><%= p.firstname %></li>
          <% }); %>
          <h3>Le nombre de personne ayant un chiffre dans leur adresse mail</h3>
          <%= p4 %>
          <h3>Le nom de l’entreprise ayant le pourcentage de femmes le plus élevé, ainsi que le pourcentage</h3>

        </div>


    </body>
</html>
